<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deposit Money</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <h1>Deposit Money</h1>
    <form action="{{ url_for('deposit') }}" method="post" id="depositForm">
        <input type="text" name="account_no" placeholder="Account Number" required><br>
        <input type="password" name="pin" placeholder="PIN" required><br>
        <input type="number" name="amount" placeholder="Amount" required><br>
        <button type="submit">Deposit</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash-message {{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<button onclick="location.href='{{ url_for('home') }}'" class="home-button">Home</button>


</body>
</html>
